@use "../util" as *;

main {
  margin-top: rem(-48);
  margin-bottom: rem(24);
}

.form-container {
  flex-wrap: wrap;
  gap: rem(16);
  margin-bottom: rem(32);
}

.form-group {
  & h2 {
    font-size: 0.9em;
    font-weight: 600;
    margin-bottom: rem(12);
  }
}

.button-actions {
  text-align: center;
  margin-top: rem(32);

  &-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(14);

    & a {
      text-decoration: none;
    }
  }
}
