@use "../util" as *;

main {
  margin-top: rem(-48);
  margin-bottom: rem(24);
}

.form-container {
  flex-wrap: wrap;
  gap: rem(16);
  margin-bottom: rem(32);
}

.form-group {
  & h2 {
    font-size: 0.9em;
    font-weight: 600;
    margin-bottom: rem(12);
  }
}

.button-actions {
  text-align: center;
  margin-top: rem(32);

  &-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(14);

    & a {
      text-decoration: none;
    }
  }
}

#loding-pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3.5rem;

  & .message {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 1rem;
    padding-left: rem(56);
    border-radius: rem(8);
    position: relative;
    box-shadow: 0 0 10px -2px black;
    animation: spinner-message 1s alternate 0s infinite;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 1rem;
      transform: translateY(50%);
      width: rem(32);
      height: rem(32);
      background: url("../images/pokeball-pokemon-svgrepo-com.svg") no-repeat center;
    }
  }
}
