@use "../util" as *;

main {
  max-width: rem(1248);
  margin: 0 auto;
  margin-top: -2rem;
  margin-bottom: rem(24);
  box-shadow: 2px 3px 21px -4px black;
  padding: 2rem 0;
  border-radius: rem(26);
}

.form-container {
  flex-wrap: wrap;
  gap: rem(24);
  margin-bottom: rem(32);
}

.form-group {
  :is(h2, input) {
    font-size: 1em;
  }

  & h2 {
    margin-bottom: rem(12);
  }

  & input {
    width: rem(210);
    height: rem(40);
    font-family: var(--font-family);
    padding: 0.4rem;
  }
}

.button-actions {
  text-align: center;
  margin-top: rem(32);

  &-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(14);

    & a {
      text-decoration: none;
    }
  }
}

#loding-pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3.5rem;

  & .message {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 1rem;
    padding-left: rem(56);
    border-radius: rem(8);
    position: relative;
    box-shadow: 0 0 10px -2px black;
    animation: spinner-message 1s alternate 0s infinite;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 1rem;
      transform: translateY(50%);
      width: rem(32);
      height: rem(32);
      background: url("../images/pokeball-pokemon-svgrepo-com.svg") no-repeat center;
    }
  }
}
