@keyframes spinner {
  0% {
    transform: rotate(0) translateY(0) scale(1);
  }
  25% {
    transform: rotate(4deg) translateY(4px) scale(1.05);
  }
  50% {
    transform: rotate(0) translateY(0) scale(1);
  }
  75% {
    transform: rotate(-4deg) translateY(-4px) scale(1.05);
  }
  100% {
    transform: rotate(0) translateY(0) scale(1);
  }
}

@keyframes spinner-center {
  0% {
    background-color: white;
  }

  100% {
    background-color: red;
  }
}

@keyframes spinner-message {
  0% {
    transform: scale(1) translateY(0);
  }

  100% {
    transform: scale(1.1) translateY(2px);
  }
}
