.btn {
  display: inline-block;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 0.6rem;
  font-size: 1em;
  text-transform: uppercase;
  cursor: pointer;
  transform: scale(1);
  transition: transform 200ms ease;
  font-weight: bold;
  font-family: var(--font-family);
  background-color: #f95868;
  color: #fff;
}

.btn:is(:hover, :focus) {
  transform: scale(1.01) translateY(-0.125em);
}
