@use "../util" as *;

.pokemon {
  max-width: rem(1440);
  margin: 0 auto;

  &-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 350px));
    justify-content: center;
    gap: rem(28);
  }

  &-card {
    border-radius: rem(12);
    padding: 1.5rem 1rem;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 4px 5px -4px black;
    height: rem(486);
    will-change: transform;
    transition: transform 350ms ease-in;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: var(--background);
      opacity: 0.75;
      transform: rotate(45deg) translate(-38%, -42%);
      z-index: -1;

      @include mq(small) {
        transform: rotate(45deg) translate(-34%, -38%);
      }
    }

    &-container {
      display: grid;
      grid-template-columns: repeat(2, 100%);
      overflow: hidden;
    }
  }

  &-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.8rem;
    margin-bottom: 1.2rem;
    color: var(--clr-white);
    text-shadow: 2px 2px 2px black;
    filter: drop-shadow(2px 2px 3px black);

    & > h2 {
      font-weight: normal;
    }
  }

  &-header-img {
    margin-bottom: 1.6rem;

    @include mq(small) {
      margin-bottom: 1.2rem;
    }

    & > img {
      margin: 0 auto;
      filter: drop-shadow(4px 4px 6px black);

      @include mq(small) {
        width: rem(180);
        height: rem(180);
      }
    }
  }

  &-body {
    margin-bottom: rem(24);

    &-name {
      font-size: 1.3em;
      font-weight: bold;
      margin-bottom: 2rem;

      @include mq(small) {
        margin-bottom: 1.2rem;
      }

      & > p {
        color: #fff;
        font-size: 1.6rem;
        text-shadow: 2px 2px 2px black;
        filter: drop-shadow(1px 1px 3px black);

        @include mq(small) {
          font-size: 1.9rem;
        }
      }
    }

    &-types {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: rem(18);
    }

    &-type {
      border-radius: rem(8);
      padding: rem(8) rem(16);
      font-weight: bold;
      font-size: 1.1em;
      color: rgba(black, 0.75);
      background-color: var(--clr-white);
      box-shadow: 2px 2px 6px -4px #000;
    }
  }
}

.flip-card {
  border-radius: rem(12);
  padding: 1.5rem 1rem;
  position: relative;
  max-height: rem(490);
  border: 3px solid var(--background);
  overflow: hidden;
  will-change: transform;
  transition: transform 350ms ease-in;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, var(--background), transparent, var(--background)), url("../images/bermuda-circle.svg") no-repeat center;
    z-index: -1;
  }

  &-header {
    margin-bottom: 1rem;

    &-favorite,
    &-favorite-hearth {
      filter: drop-shadow(3px 3px 4px black);
    }

    &-favorite {
      &-heart {
        animation: spinner-message 1.4s alternate 0s infinite both;

        &.is-active {
          filter: invert(90%) sepia(100%) saturate(4000%) drop-shadow(2px 2px 2px white);
        }
      }
    }
  }

  &-hero {
    margin-bottom: 1rem;
    color: #fff;

    &-header {
      margin-bottom: 1rem;
      text-shadow: 2px 2px 2px black;
      filter: drop-shadow(2px 2px 3px black);

      & h2 {
        font-size: 1.5em;
      }

      & h3 {
        font-size: 1em;
      }
    }

    &-types {
      display: grid;
      grid-template-columns: repeat(2, minmax(70px, 90px));
      gap: rem(12);
      text-align: center;

      & > * {
        @extend .pokemon-body-type;
        font-size: 0.95em;
      }
    }

    &-img {
      & > img {
        filter: drop-shadow(4px 4px 3px black);
      }
    }

    &-content {
      min-height: rem(80);
    }
  }

  &-body {
    background-color: var(--clr-white);
    color: black;
    border-radius: rem(12);
    font-size: 0.9em;
    margin-left: -1rem;
    margin-right: -1rem;
    min-height: rem(280);
  }

  &-features-list {
    margin-bottom: rem(18);

    & > li {
      text-align: center;
      flex-basis: calc(100% / 2);

      &.is-check {
        border-bottom: 2px solid var(--primary-color);
      }

      & button {
        width: 100%;
        border: none;
        outline: none;
        background: transparent;
        cursor: pointer;
        padding: rem(12);
        text-decoration: none;
        font-weight: bold;
        font-size: 1.1em;
        color: black;
        border-bottom: 2px solid transparent;
        transition: border-bottom 300ms ease-in;

        &:hover {
          border-bottom: 2px solid var(--primary-color);
        }
      }
    }
  }

  &-slider {
    display: grid;
    grid-template-columns: repeat(2, 100%);
    // transform: translate(-100%);
    will-change: transform;

    &-container {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      overflow: hidden;
    }

    &-aboutme {
      &-text {
        line-height: 1.6;
        margin-bottom: rem(18);
      }

      &-measure {
        gap: rem(24);
        width: 80%;
        margin: 0 auto;
        padding: rem(8);
        border-radius: 8px;
        box-shadow: 0px 0px 10px -1px #000;
        margin-bottom: rem(24);

        & h4 {
          color: var(--primary-color);
        }
      }

      &-gender {
        gap: 0.8rem;

        &-list {
          gap: rem(12);

          & > * {
            border-bottom: 2px solid rgba(#f95868, 0.8);
            border-radius: rem(4);
            padding-bottom: rem(4);
          }
        }
      }
    }

    &-evolution {
      border: 1px solid red;

      & h4 {
        font-size: 1.2em;
        margin-bottom: rem(18);
      }

      &-pokemon {
        display: flex;
        flex-direction: column;
        align-items: center;

        & > img {
          margin-bottom: rem(6);
        }
      }
    }

    &-stats {
      & > * {
        margin-bottom: rem(12);
      }
    }

    &-stat {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & :first-child {
        gap: 2rem;
      }

      & .bar-progress {
        width: rem(152);
        height: rem(8);
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: rem(4);
        position: relative;
        overflow: hidden;

        & > .bar {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: rem(45);
          height: rem(6);
          background-color: var(--primary-color);
          border-radius: rem(8);
        }
      }
    }
  }
}
