@use "../util" as *;

.pokemon {
  max-width: rem(1440);
  margin: 0 auto;

  &-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 350px));
    align-items: center;
    justify-content: center;
    gap: rem(28);
  }

  &-card {
    border-radius: rem(12);
    padding: 1.5rem 1rem;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 4px 5px -4px black;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: var(--background);
      opacity: 0.75;
      transform: rotate(45deg) translate(-36%, -39%);
      z-index: -1;

      @include mq(small) {
        transform: rotate(45deg) translate(-34%, -38%);
      }
    }
  }

  &-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.8rem;
    margin-bottom: 1.2rem;
    color: var(--clr-white);
    text-shadow: 2px 2px 2px black;
    filter: drop-shadow(2px 2px 3px black);

    & > h2 {
      font-weight: normal;
    }
  }

  &-header-img {
    margin-bottom: 1.2rem;

    & > img {
      margin: 0 auto;
      filter: drop-shadow(4px 4px 6px black);

      @include mq(small) {
        width: rem(200);
        height: rem(200);
      }
    }
  }

  &-body {
    margin-bottom: rem(24);
    &-name {
      font-size: 1.3em;
      font-weight: bold;
      margin-bottom: 1.2rem;

      & > p {
        color: #fff;
        font-size: 1.6rem;
        text-shadow: 2px 2px 2px black;
        filter: drop-shadow(1px 1px 3px black);

        @include mq(small) {
          font-size: 1.9rem;
        }
      }
    }

    &-types {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: rem(32);
    }

    &-type {
      border-radius: rem(8);
      padding: rem(8) rem(16);
      font-weight: bold;
      font-size: 1.1em;
      color: rgba(black, 0.75);
      background-color: var(--clr-white);
      box-shadow: 2px 2px 6px -4px #000;
    }
  }
}

.flip-card {
  &-header {
    margin-bottom: 1rem;
  }

  &-hero {
    margin-bottom: 1rem;
    &-header {
      margin-bottom: 1rem;
      & h2 {
        font-size: 1.8em;
      }

      & h3 {
        font-size: 1.1em;
      }
    }
    &-type {
      display: flex;
      flex-direction: column;
      gap: rem(12);

      & > * {
        @extend .pokemon-body-type;
      }
    }
  }

  &-body {
    border: 1px solid black;
    background-color: var(--clr-white);
    color: black;
    margin-right: -1.5rem;
    margin-left: -1.5rem;
    border-radius: 1rem;
    font-size: 0.9em;
  }

  &-features-list {
    margin-bottom: rem(8);

    & > li {
      text-align: center;
      flex-basis: calc(100% / 3);

      &.is-check {
        border-bottom: 2px solid var(--primary-color);
      }

      & a {
        display: block;
        padding: rem(12);
        text-decoration: none;
        color: blue;
      }
    }
  }

  &-slider {
    display: grid;
    grid-template-columns: repeat(3, 100%);
    transform: translate(-200%);

    &-container {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      overflow: hidden;
    }

    &-aboutme {
      &-text {
        line-height: 1.6;
        margin-bottom: rem(18);
      }

      &-measure {
        gap: rem(24);
        width: 80%;
        margin: 0 auto;
        padding: rem(8);
        border-radius: 8px;
        box-shadow: 0px 0px 10px -1px #000;
        margin-bottom: rem(24);
      }

      &-gender {
        gap: 3rem;
        & > div {
          gap: 1rem;
        }
      }
    }

    &-evolution {
      border: 1px solid red;

      & h4 {
        font-size: 1.2em;
        margin-bottom: rem(18);
      }

      &-pokemon {
        display: flex;
        flex-direction: column;
        align-items: center;

        & > img {
          margin-bottom: rem(6);
        }
      }
    }

    &-stats {
      & > * {
        margin-bottom: rem(12);
      }
    }

    &-stat {
      display: flex;
      align-items: center;
      gap: 1.8rem;

      & > h4 {
        flex-basis: 25%;
      }

      & .bar-progress {
        width: rem(120);
        border: 2px solid red;
      }
    }
  }
}

// .flip-card-container {
//   position: relative;
//   width: 100%;
//   height: 100%;
//   text-align: center;
// padding-bottom: 0;
// padding: 1.5rem;
//   transition: transform 900ms, background 900ms;
//   transform-style: preserve-3d;
//   border-radius: rem(12);

//   &.is-active {
//     transform: rotateY(180deg);
//     background: white;

//     & > * {
//       z-index: 0;
//     }
//   }
// }

// .flip-card-back {
//   width: 100%;
//   height: 100%;
//   border-radius: rem(8);
//   backface-visibility: hidden;
//   transform: rotateY(180deg);
//   position: absolute;
//   top: 0%;
// }
