@use "../util" as *;

.select {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(black, 0.2);
  border-radius: rem(4);
  overflow: hidden;

  &-wrapper {
    position: relative;
    user-select: none;
    -webkit-tap-highlight-color: rgba(black, 0);
    width: max(120px, 200px);
  }

  &-trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(8);
    font-size: 1.1em;
    background: var(--clr-white);
    cursor: pointer;

    &-content {
      display: flex;
      align-items: center;
      gap: rem(8);

      & > img {
        width: rem(24);
      }
    }
  }

  &.open {
    & .arrow::before {
      transform: rotate(-45deg);
    }
    & .arrow::after {
      transform: rotate(45deg);
    }

    & .custom-options {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }
}

.custom-options {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid rgba(black, 0.15);
  border-top: 0;
  background: var(--clr-white);
  transition: opacity 300ms, visibility 300ms;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 1;
  max-height: rem(220);
  overflow: auto;
  border-bottom-left-radius: rem(4);
  border-bottom-right-radius: rem(4);

  &::-webkit-scrollbar {
    width: 0.6rem; /* width of the entire scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: var(--shadow-color); /* color of the tracking area */
  }

  &::-webkit-scrollbar-thumb {
    border-radius: rem(8);
    background-color: var(--primary-color);
  }
}

.custom-option {
  padding: rem(12) rem(8);
  cursor: pointer;
  transition: background-color 200ms;
  display: flex;
  align-items: center;
  gap: rem(6);

  & > * {
    pointer-events: none;
  }

  & > img {
    width: rem(30);
  }

  &:hover {
    background-color: var(--shadow-color);
  }

  &.selected {
    color: var(--clr-white);
    background-color: var(--primary-color);
  }
}

//For arrow dropdownn
.arrow {
  position: relative;
  height: rem(10);
  width: rem(10);

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0.15rem;
    height: 100%;
    background-color: var(--primary-color);
    transition: transform 300ms, left 300ms;
  }

  &::before {
    left: -3px;
    transform: rotate(45deg);
  }

  &::after {
    left: 3px;
    transform: rotate(-45deg);
  }
}
