@use "../util" as *;

$white: #fff;

.select {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(black, 0.2);
  border-radius: 4px;
  overflow: hidden;

  &-wrapper {
    position: relative;
    user-select: none;
    -webkit-tap-highlight-color: rgba(black, 0);
    width: max(120px, 150px);
  }

  &-trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(8);
    font-size: 1.1em;
    background: $white;
    cursor: pointer;
  }

  &.open {
    & .arrow::before {
      transform: rotate(-45deg);
    }
    & .arrow::after {
      transform: rotate(45deg);
    }

    & .custom-options {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }
}

.custom-options {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid rgba(black, 0.15);
  background: $white;
  transition: opacity 300ms, visibility 300ms;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.custom-option {
  padding: rem(12) rem(8);
  cursor: pointer;
  transition: background-color 500ms;

  &:hover {
    background-color: #dfd9d9;
  }

  &.selected {
    color: $white;
    background-color: #f95868;
  }
}

//For arrow dropdownn
.arrow {
  position: relative;
  height: rem(10);
  width: rem(10);

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0.15rem;
    height: 100%;
    background-color: #394a6d;
    transition: transform 300ms, left 300ms;
  }

  &::before {
    left: -3px;
    transform: rotate(45deg);
  }

  &::after {
    left: 3px;
    transform: rotate(-45deg);
  }
}
